<!DOCTYPE html>
{% load static %}
{% csrf_token %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{ % static 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css' % }">
    <<link href="{% static "teacher.css" %}" rel="stylesheet">
  </head>
  <body id="bg" style="background-image: url('{% static " img.jpeg " %}')";>
  <body>
  <video class="bg-video" src="{% static 'videos/pexels-armin-rimoldi-5551778 (1).mp4' %}" autoplay muted loop></video>
  <div class="background-video">

</div>
  <video autoplay loop muted>
      <div className='overlay'>
      </div>
    <source src="{% static 'videos/pexels-armin-rimoldi-5551778(1).mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>

    <div class="container">
      <img id="logo"src="https://upload.wikimedia.org/wikipedia/commons/4/43/Itechlogo.png" alt="">
      <div class="jumbotron">
        <h1>TEACHER ZONE</h1>
        <form class="" action="/teacher" method="post">
          {% load static %}
          {% csrf_token %}
          <label for="name">NAME</label><br>
          <input id="rice" type="text" name="name" value="" required><br>
          <label for="password">PASSWORD</label><br>
          <input id="mi"type="password" name="password" value="" required><br>
          <label for="log"></label><br>
          <input id="log"type="submit" name="" value="LOG IN">

        </form>
      </div>
    </div>
  </body>
</html>